<h1>Task List:</h1>
<div *ngIf="tasks.length>0">
  <ul>
    <li *ngFor="let task of tasks">
      <ul>
        <li>Task Name: {{ task['title'] }}</li>
        <li>Description: {{ task['description'] }}</li>
        <li>Completed: {{ task['completed'] }}</li>
      </ul>
    </li>
  </ul>
</div>
<div *ngIf="task">
  <h1>Task Number 2:</h1>
  <ul>
    <li>Task Name: {{ task['currentTask'].title }}</li>
    <li>Description: {{ task['currentTask'].description }}</li>
    <li>Completed: {{ task['currentTask'].completed }}</li>
  </ul>
</div>