<div class = "align-content-center">
  <h1 class = "text-center d-block">Restful Tasks API</h1>
  <button (click)="getTasksFromHttp()" class = "col-2 offset-5 btn btn-primary">GET ALL TASKS</button>
</div>
<h3>Find event by Title: </h3>
<input (keyup)="getByEvent($event)" type = "text">
<div *ngIf="tasks.length>0" class = "col-6 offset-3 mb-3 alltasks">
  <ul>
    <div *ngFor="let task of tasks" class = "mt-2">
      <p class = "d-inline-block col-8 text-center">{{task['title']}}</p> 
      <button (click)="getTask(task['_id'])" class = "circle text-white py-3">SHOW</button>
      <hr>
    </div>
  </ul>
</div>
<app-interactive *ngIf="task" [taskToShow]="task"></app-interactive>